[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
termcolor = "*"
colorama = "*"
halo = "*"
yaspin = "*"
spinners = "*"

[dev-packages]

[requires]
python_version = "3.9"
