astroid==2.13.2
colorama==0.4.6
dill==0.3.6
halo==0.0.31
isort==5.11.4
lazy-object-proxy==1.9.0
log-symbols==0.0.14
mccabe==0.7.0
Pillow==10.0.1
platformdirs==2.6.2
pylint==2.15.10
six==1.16.0
spinners==0.0.24
termcolor==2.2.0
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.4.0
wrapt==1.14.1
